name: Build and Push Container Images

on: 
  push:
    branches:
      - main
    paths:
      - services/**
    tags:
      - "**@[0-9]*.[0-9]*.[0-9]*" # service/foo/bar@X.Y.Z
  workflow_dispatch:
    inputs:
        service:
          description: "Service to build"
          type: choice
          required: true
          options:
            - services/go/api-golang
            - services/node/api-node
            - services/other/api-golang-migrator
            - services/python/load-generator-python
            - services/react/client-react
        version:
          description: "Version/tag to use (optional; defaults generating with git describe)"
          required: false
          type: string

jobs:
  filter:
    runs-on: ubuntu-24.04
    outputs:
      services: ${{ steps.set-output.outputs.services }}
      environment: ${{ steps.set-output.outputs.environment }}
    steps:
      - uses: actions/checkout@v4.2.2
      - name: Paths Changes Filter
        id: filter
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          filters: .github/utils/file-filters.yaml
      - name: Set Output
        id: set-output
        run: |
          if [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            echo 'services=["${{ inputs.service }}"]' >> "$GITHUB_OUTPUT"
            echo 'environment=development' >> "$GITHUB_OUTPUT"

          elif [[ "${{ github.ref_type }}" == "tag" ]]; then
            tag="${GITHUB_REF_NAME}"        # e.g. service-a@1.2.3
            svc="${tag%%@*}"
            echo "services=[\"$svc\"]" >> "$GITHUB_OUTPUT"
            echo 'environment=production' >> "$GITHUB_OUTPUT"

          else # push to main
            echo 'services=${{ steps.filter.outputs.changes }}' >> "$GITHUB_OUTPUT"
            echo 'environment=staging' >> "$GITHUB_OUTPUT"
          fi


  build-push-container-images:
    runs-on: ubuntu-24.04
    needs: filter
    if: ${{ needs.filter.outputs.services != '[]' && needs.filter.outputs.services != '' }}
    strategy:
      fail-fast: false
      matrix:
        service: ${{fromJson(needs.filter.outputs.services)}}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0
      - name: Install Task
        uses: ./.github/actions/setup-dependencies
      - name: Auth to Dockerhub
        if: ${{ !env.ACT }}
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@05340d1c670183e7caabdb33ae9f1c80fae3b0c2 # v3.6.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@1583c0f09d26c58c59d25b0eef29792b7ce99d9a # v3.11.1
      - name: Computer image tag
        id: image-tag
        working-directory: ${{ matrix.service }}
        env:
          ENVIRONMENT: production
          SERVICE: ${{ matrix.service }}
        run: |
          if [[ "$ENVIRONMENT" == 'production' ]]; then
            version=$(task utils:generate-version -- "$SERVICE") 
            image_tag=$(task utils:generate-version-tag -- "$SERVICE")
          else 
            version=$(task utils:generate-extended-version -- "$SERVICE") 
            image_tag=$(task utils:generate-extended-version-tag -- "$SERVICE")
          fi
          echo "version=$version" >> "$GITHUB_OUTPUT"
          echo "image_tag=$image_tag" >> "$GITHUB_OUTPUT" 
          echo version: $version
          echo image_tag: $image_tag  

      - name: Build and push Docker images
        uses: docker/build-push-action@ccc2b40e9ea6518f9252a22a990f8e868370f62e # v6.18.0
        with:
          context: ${{ matrix.service }}
          # context: services/node/api-node 
          push: ${{ !env.ACT }} # Don't push images when running locally
          tags: ${{ steps.image-tag.outputs.image_tag }}
          platforms: linux/amd64 # TODO: add multi arch "linux/amd64,linux/arm64"
          # TODO: handle cache invalidation for version changes in package.json
          cache-from: type=gha
          cache-to: type=gha,mode=max