name: Build and Push Container Images

on:
  workflow_dispatch: 

jobs:
  filter:
    runs-on: ubuntu-24.04
    outputs:
      services: ${{ steps.filter.outputs.changes }}
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493 # v5.0.0
      - name: Paths Changes Filter
        id: filter
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          filters: .github/utils/file-filters.yaml


  build-push-container-images:
    runs-on: ubuntu-24.04
    needs: filter
    strategy:
      fail-fast: false
      matrix:
        service: ${{ fromJson(needs.filter.outputs.services)}}
    steps:
      - name: Checkout Code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0
        with: 
          fetch-depth: 0

      - name: Install Task
        uses: supplypike/setup-bin@v4.0.1
        with:
          uri: "https://github.com/go-task/task/releases/download/v3.45.5/task_linux_amd64.tar.gz"
          name: task
          version: v3.45.5

      - name: Auth to DockerHub
        if: ${{!env.ACT}}
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Compute image tag
        id: image-tag
        run: |
          version=foo
          image_tag=foobar
          echo "image_tag=${image_tag}" >> $GITHUB_OUTPUT
          #TODO: generate the actual version/tag

      - name: Build and Push Images
        uses: docker/build-push-action@v6
        with:
          context: ${{ matrix.service }}
          push: ${{ !env.ACT }}
          tag: steps.image-tag.outputs.image_tag
          platforms: linux/amd64
          cache-from: type=gha 
          cache-to: type=gha,mode=max